@{
    ViewData["Title"] = "About";
    ViewData["email"] = "andres@gmail.com";
    ViewData["Message"] = "Salles Web MVC App from C# Course";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<p>Email: @ViewData["email"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.google.com.br/">Google.com.br</a>
</address>